.message-list-container {
    margin: 2rem 1.5rem;
    flex-grow: 1;
    background-color: #0f0f1a;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);
}

.message-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.no-messages {
    text-align: center;
    font-size: 1.25rem;
    color: #665;
    margin-top: calc(40vh - 18rem);
    font-style: italic;
}

chat-messages > ::deep div:last-of-type {
    /* Adds some vertical buffer to so that suggestions don't overlap the output when they appear */
    margin-bottom: 2rem;
}
